* {
  font-size: 14px;
}

a {
  cursor: pointer;
}

/* Button 1c */
.btn-1c:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #27bf27;
}

.btn-1c:hover,
.btn-1c:active {
  color: white;
}

.btn-1c:hover:after,
.btn-1c:active:after {
  width: 100%;
}

.btn-motion:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


.slide-area {
  background-color:red;
}
.grey-area {
  background: url('../images/bg-home-grey-area.jpg') center center no-repeat;
  background-size: cover;
  color: $white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.blue-area {
  background: url('../images/bg-home-blue-area.jpg') center center no-repeat;
  background-size: cover;
  color: $white;
  padding-top:50px;
  padding-bottom:50px;
}

.white-area {
  background-color: whitesmoke;
  color: $white;
  padding-top: 50px;
  padding-bottom: 50px;
  color: $black;
}