.slide-area {
  background-color:red;
}
.grey-area {
  background: url('../images/bg-home-grey-area.jpg') center center no-repeat;
  background-size: cover;
  color: $white;
  padding-top: 50px;
  padding-bottom: 50px;

  .grey-block {
    &.tournament {
      background: url('../images/cup.png') center center no-repeat;
      background-size: cover;
    }
    background-color: rgba(255, 255, 255, 0.1);

    min-height: 205px;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 20px;
    .title {
      background-color: white;
      font-size: 18px;
      color: $black;
      padding: 10px 15px;
    }
    .no-title {
      padding: 40px 15px 20px 60px !important;
    }
    .text {
      text-align: right;
      padding: 20px 15px 20px 60px;
      letter-spacing: 1px;
    }
    .btn-bottom {
      position: absolute;
      bottom: 0px;
      right: 0px;
      left: 0px;
    }
    a {
      &.ticketing {
        background-color: $orange;
        color: $white;
      }
      font-weight: bold;
      color: $black;
      text-decoration: none;
      display: block;
      background-color: $white;
      .cta {
        z-index: 0;
        position: relative;
        padding: 10px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
      }
    }
  }
}

/* Button 1c */
.btn-1c:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #27bf27;
}

.btn-1c:hover,
.btn-1c:active {
  color: white;
}

.btn-1c:hover:after,
.btn-1c:active:after {
  width: 100%;
}

.btn-motion:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.blue-area {
  background: url('../images/bg-home-blue-area.jpg') center center no-repeat;
  background-size: cover;
  color: $white;
  padding-top:50px;
  padding-bottom:50px;
}