.information-page {
  .white-area {
    padding-top: 0px;
  }

  .google-map {
    .content-left {
      background: url(../images/bg-home-blue-area.jpg) center center no-repeat;
      color: white;
      padding-top: 50px;
    }
    .content-right {
      background-color: #ddd;
    }

    margin-bottom: 50px;
  }

  .info-ticketing {
    background-color: $orange;
    margin-bottom: 50px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .info-equipment {
    background-color: $black;
    padding-left: 15px;
    padding-right: 15px;
  }

  .info-restoration {
    background-color: #46679e;
    padding-left: 15px;
    padding-right: 15px;
  }

  .info-schedule {
    background-color: #0058a2;
    padding-right: 85px;
  }

  .info-access {
    background-color: #4589c6;
    padding-right: 85px;
  }

  .info-pricing {
    background-color: #005a7c;
    padding-right: 85px;
  }

  .info-accommodation {
    background-color: #00356f;
    padding-right: 85px;
  }
}