.views-news {
  a:hover, a:focus {
    text-decoration: none;
  }

  .form-item, .form-actions {
    display: inline-block;
  }
  label {
    width: 100px;
  }
  select {
    width: 150px;
  }

  .white-area {
    .headline {
      margin-bottom: 50px;
    }
    .news {
      margin-bottom: 30px;
      .news-image {
        height: 150px;
        background-size: cover;
        background-position: center center;
      }
      .news-tags {
        background-color: red;
        color: $white;
        text-align: center;
        line-height: 25px;
        font-weight: bold;
      }
      h2 {
        margin-top: 10px;
        margin-bottom: 0px;
        a {
          font-weight: bold;
          color: $black;
          font-size: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          margin-bottom: 5px;
        }
      }
      .news-date {
        color: $light-grey;
        border-bottom: 1px solid $light-grey;
        margin-bottom: 10px;
        font-weight: 400;
        margin-bottom: 5px;
        padding-bottom: 5px;
      }
      .news-content {
        color: $grey;
        display: block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        display: -webkit-box;
        height: 80px;
        margin: 0 auto;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
      .news-more {
        margin-top: 10px;
        text-align: right;
        a {
          color: $grey;
          padding: 5px 20px;
          border: 1px solid $grey;
        }
      }
    }
  }
}

.node-news {
  .headline {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 48px;
    font-weight: bold;
  }

  .white-area {
    padding-top: 0px;
  }

  .blue-area {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .news-image {
    height: 350px;
    background-size: cover;
    background-position: center center;
  }

  .news-content {
    margin-top: 30px;
    padding-left: 20px;
    border-left: 1px solid $light-grey;
    margin-bottom: 30px;
  }
  .news-link {
    text-align: center;
    a {
      cursor: pointer;
      color: $white;
      padding: 5px 20px;
      border: 1px solid white;
    }
    a:focus, a:hover {
      text-decoration: none;
    }
  }
}

.node-news-home {
  .news-main {
    .news-image {
      height: 120px !important;
    }

    h2 {
      margin-top: 0px;
    }

    .news-background {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;

      .news-title {
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }

      .news-date {
        color: $light-grey;
        border-bottom: 1px solid $light-grey;
        margin-bottom: 10px;
      }

      .news-content {
        color: white;
        display: block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        display: -webkit-box;
        height: 80px;
        margin: 0 auto;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      .news-more {
        text-align: right;
        margin-top: 20px;
        margin-bottom: 10px;
        span {
          cursor: pointer;
          padding: 10px;
          border: 1px solid $white;
        }
      }
    }
  }

  .news, .news-main {
    margin-bottom: 20px;
    a {
      text-decoration: none;
      color: $white;
    }
    a:hover, a:focus {
      color: $white;
    }
    .news-image {
      position: relative;
      height: 80px;
      background-size: cover;
      background-position: center center;

      &.league-of-legends {
        background-image: url("../images/news-type/league-of-legends.jpg");
      }

      .news-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.54);
        height: 25px;
        line-height: 25px;
        vertical-align: middle;
        text-align: center;
        font-size: 18px;
        font-weight: 100;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .news-type {
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      padding: 3px 10px;

      &.league-of-legends {
        background-color: $league-of-legends;
      }
    }
  }
}