$blue: #0058A2;
$blue-hover: #156AAD;
$white: #ffffff;
$orange: #FC7E00;
$orange-hover: #FF8D31;
$black: #000000;
$light-grey: #bbbbbb;
$grey: #999999;
$light-green: #7eff00;
$dark-green: #324520;
$dark-blue: #004278;

$sign-low: #27bf27;
$sign-medium: #f0ad4e;
$sign-high: #d9534f;
