{{ attach_library('gamers_assembly/gamers_assembly.tournaments-home-last-results') }}
<div class="last-result">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ "Derniers résultats"|t }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>Chargement des résultats</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
