.idea
.sass-cache
themes/custom/gamers_assembly/css/

data

sync_ga/ga_slide.slide.*
sync_ga/ga_stream.stream.*
sync_ga/ga_game.game.*
sync_ga/ga_platform.platform.*
sync_ga/ga_sponsor.sponsor_level.*
sync_ga/ga_config.settings.yml
sync_ga/system.site
sync_ga/system.theme

sync_ga/ga_front.prelive.settings.yml
sync_ga/ga_ticket.settings.yml
sync_ga/ga_gamers.settings.yml
sync_ga/ga_visitors.settings.yml
sync_ga/ga_planning.settings.yml
sync_ga/ga_sponsor.settings.yml
sync_ga/ga_weezevent.settings.yml
sync_ga/ga_memory.settings.yml
sync_ga/ga_config.settings.yml
sync_ga/ga_schedule.settings.yml
sync_ga/ga_toornament.settings.yml

sync_ga/google_analytics.settings.yml
sync_ga/language
sync_ga/metatag.metatag_defaults.*
sync_ga/system.performance.yml

sync_gallowen/ga_slide.slide.*
sync_gallowen/ga_stream.stream.*
sync_gallowen/ga_game.game.*
sync_gallowen/ga_platform.platform.*
sync_gallowen/ga_sponsor.sponsor_level.*
sync_gallowen/ga_config.settings.yml
sync_gallowen/system.site
sync_gallowen/system.theme

sync_gallowen/ga_front.prelive.settings.yml
sync_gallowen/ga_ticket.settings.yml
sync_gallowen/ga_gamers.settings.yml
sync_gallowen/ga_visitors.settings.yml
sync_gallowen/ga_planning.settings.yml
sync_gallowen/ga_sponsor.settings.yml
sync_gallowen/ga_weezevent.settings.yml
sync_gallowen/ga_memory.settings.yml
sync_gallowen/ga_config.settings.yml
sync_gallowen/ga_schedule.settings.yml
sync_gallowen/ga_toornament.settings.yml

sync_gallowen/google_analytics.settings.yml
sync_gallowen/language
sync_gallowen/metatag.metatag_defaults.*
sync_gallowen/system.performance.yml

modules/contrib/config_readonly/
