.idea
.sass-cache

sync/ga_slide.slide.*
sync/ga_stream.stream.*
sync/ga_game.game.*
sync/ga_platform.platform.*
sync/ga_sponsor.sponsor_level.*

sync/ga_front.prelive.settings.yml
sync/ga_ticket.settings.yml
sync/ga_gamers.settings.yml
sync/ga_visitors.settings.yml
sync/ga_planning.settings.yml
sync/ga_sponsor.settings.yml
sync/ga_weezevent.settings.yml
sync/language