.tournaments-home-next {
  .title {
    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      width:240px;
    }
  }
}

@media(max-width:767px){
  .title {
    a {
      width:auto!important;
    }
  }
}