<div class="grey-block event-home-cta">
    <div class="row">
        <div class="col-md-12">
            <div class="text no-title">
                {{ "Commandez vos billets pour la Gamer Assembly 2014 dès à présent"|t }}
            </div>
        </div>
    </div>
    <div class="row btn-bottom">
        <div class="col-md-7 col-md-offset-5">
			<a href="#" class="ticketing">
	            <div class="cta btn-motion btn-1c">
	                {{ "Billeterie"|t }}
	            </div>
            </a>
        </div>
    </div>
</div>