.slide-area{
  background-color:red;
}
.grey-area{
  background: url('../images/bg-home-grey-area.jpg') center center no-repeat;
  background-size: cover;
  color: $white;
}
.blue-area{
  background-color:blue;
}
.white-area{
  background-color:whitesmoke;
}