.stream-block{
  padding:0 0 20px 0;
  h2{
    text-align:center;
    &:before,&:after{
      content:'';
      background-color:$white;
      height:1px;
      top:37px;
      width:40%;
      position:absolute;
      display:inline-block;
    }
    &:before{
      left:0;
    }
    &:after{
      right:0;
    }
  }
  .stream-block-video {
    border:1px solid red;
    margin:0;
    padding:0;
  }
  .stream-block-chat-videolist{
    border:1px solid red;
    margin:0;
    padding:0;
  }
}