.slideshow{
  .video-container {
    position: relative;
    overflow: hidden;
    height: 513px;

    video {
      width: 100%;
      position: absolute;
      top: -50%;
    }
  }
}

@media (max-width: 1250px) {
  .slideshow {
    .video-container {
      video {
        top: -25%;
      }
    }
  }
}