<div class="grey-block event-home-cta">
	<div class="row">
		<div class="col-md-12">
			<div class="title">
				L'évènement
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-md-12">
            <div class="text">
                {{ "L'édition 2017 de la Gamer Assembly aura lieu du 26 au 28 Mars, et se déroulera au Parc des Expositions de Poitiers."|t }}
            </div>
        </div>
    </div>
    <div class="row btn-bottom">
        <div class="col-md-7 col-md-offset-5">
			<a href="#">
	            <div class="cta btn-motion btn-1c">
	                {{ "+ d'infos"|t }}
	            </div>
            </a>
        </div>
    </div>
</div>