.news-home2 {
  .news-main {
    .news-image {
      height: 120px !important;
    }

    h2 {
      margin-top: 0px;
    }

    .news-background {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;

      .news-title {
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }

      .news-date {
        color: $light-grey;
        border-bottom: 1px solid $light-grey;
        margin-bottom: 10px;
      }

      .news-content {
        color: white;
        display: block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        display: -webkit-box;
        margin: 0 auto;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      .news-more {
        text-align: right;
        margin-top: 20px;
        margin-bottom: 10px;
        span {
          cursor: pointer;
          padding: 10px;
          border: 1px solid $white;
        }
      }
    }
  }

  .news, .news-main {
    margin-bottom: 20px;
    a {
      text-decoration: none;
      color: $white;
    }
    a:hover, a:focus {
      color: $white;
    }
    .news-image {
      position: relative;
      height: 80px;
      background-size: cover;
      background-position: center center;

      &.league-of-legends {
        background-image: url("../images/news-type/league-of-legends.jpg");
      }

      .news-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.54);
        height: 29px;
        line-height: 29px;
        vertical-align: middle;
        text-align: center;
        font-size: 18px;
        font-weight: 100;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px 5px;
      }
    }
    .news-type {
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      padding: 3px 10px;
    
    }
  }
}