.news-home2 {
  .hack-line-left {
    position: absolute;
    height: 2px;
    width: 5014px;
    background-color: white;
    top: 14px;
    left: -4999px;
  }
  .hack-line-right {
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: white;
    top: 14px;
    right: -15px;
  }

  .news-main {
    .news-image {
      height: 130px !important;
    }

    h2 {
      margin-top: 0px;
    }

    .news-background {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;

      .news-title {
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }

      .news-date {
        color: $light-grey;
        border-bottom: 1px solid $light-grey;
        margin-bottom: 10px;
      }

      .news-content {
        color: white;
        display: block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        display: -webkit-box;
        margin: 0 auto;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        height: 40px;
      }

      .news-more {
        margin-bottom: -10px;
        margin-right: -10px;
        text-align: right;
        margin-top: 20px;
        span {
          color: $black;
          font-weight: bold;
          display: inline-block;
          padding: 5px 50px;
          cursor: pointer;
          background-color: $white;
        }
      }
    }
  }

  .news, .news-main {
    margin-bottom: 20px;
    .news-left {
      padding-right: 0px;
    }
    .news-right {
      padding-left: 0px;
    }
    a {
      text-decoration: none;
      color: $white;
    }
    a:hover, a:focus {
      color: $white;
    }
    .news-image {
      position: relative;
      height: 80px;
      background-size: cover;
      background-position: center center;

      .news-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.54);
        height: 29px;
        line-height: 29px;
        vertical-align: middle;
        text-align: center;
        font-size: 18px;
        font-weight: 100;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px 5px;
      }
    }
    .news-type {
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      padding: 3px 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      background-color: $dark-blue;
    }
  }

  .more-news {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $white;
    display: inline-block;
    padding: 15px 50px;
    color: $black;
    font-weight: bold;
  }
}

@media (max-width: 992px) {
  .news-home2 {
    .news, .news-main {
      .news-left {
        padding-right: 15px;
      }
      .news-right {
        padding-left: 15px;
      }
    }

    .hack-line-right {
      position: absolute;
      height: 2px;
      width: 150px;
      background-color: white;
      top: 14px;
      right: -125px;
    }
  }
}