{{ attach_library('mec2018/twitter') }}

<div class="twitter-home">
    {% include directory ~ '/components/title-line/title-line.html.twig' with {
    title:"Twitter"|t,
    } only %}
    <div class="hack-line-left"></div>
    <div class="hack-line-right"></div>
    <div class="twitter-home">
        <div class="twitter-userline">
            <a class="twitter-timeline"
               data-chrome="noborders transparent noheader nofooter"
               data-theme="dark"
               href="https://twitter.com/montpellier_esports_convention">
                Tweets by @montpellier_esports_convention
            </a>
        </div>
    </div>
</div>
