@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body {
  padding-top: 80px;
}

* {
  font-size: 14px;
}

.slide-area {
  background-color: red;
}

.grey-area {
  background: url("../images/bg-home-grey-area.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
}

.blue-area {
  background-color: blue;
}

.white-area {
  background-color: whitesmoke;
}

.stream-block {
  padding: 0 0 20px 0;
}
.stream-block h2 {
  text-align: center;
}
.stream-block h2:before, .stream-block h2:after {
  content: '';
  background-color: #fff;
  height: 1px;
  top: 37px;
  width: 40%;
  position: absolute;
  display: inline-block;
}
.stream-block h2:before {
  left: 0;
}
.stream-block h2:after {
  right: 0;
}
.stream-block .stream-block-video {
  border: 1px solid red;
  margin: 0;
  padding: 0;
}
.stream-block .stream-block-chat-video-list {
  border: 1px solid red;
  margin: 0;
  padding: 0;
}
.stream-block .stream-block-chat-video-list .stream-tab-chat, .stream-block .stream-block-chat-video-list .stream-tab-video-list {
  display: inline-block;
}
.stream-block .stream-block-chat-video-list .stream-tab-chat.active, .stream-block .stream-block-chat-video-list .stream-tab-video-list.active {
  color: red;
}
.stream-block .stream-block-chat-video-list .stream-block-chat {
  display: none;
}
.stream-block .stream-block-chat-video-list .stream-block-chat #chat {
  height: 354px;
  overflow-y: scroll;
}
.stream-block .stream-block-chat-video-list .stream-block-video-list .stream-video-list-item.active {
  color: red;
}

.chat-line {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.chat-line[data-faded] {
  opacity: .8;
}

.chat-line.chat-notice {
  opacity: .7;
  font-weight: 300;
}

.chat-line.chat-notice[data-level="-4"] {
  color: #765eed;
  font-style: italic;
}

.chat-line.chat-notice[data-level="-3"] {
  color: #1aa2e6;
  font-style: italic;
}

.chat-line.chat-notice[data-level="-2"] {
  color: #1ae6a2;
  font-style: italic;
}

.chat-line.chat-notice[data-level="-1"] {
  color: #5ee61a;
  font-style: italic;
}

.chat-line.chat-notice[data-level="1"] {
  color: #ffea00;
}

.chat-line.chat-notice[data-level="2"] {
  color: #ff8000;
  font-weight: 400;
}

.chat-line.chat-notice[data-level="3"] {
  color: red;
  font-weight: 400;
}

.chat-line.chat-notice[data-level="4"] {
  color: red;
  font-weight: 700;
}

.chat-line.chat-notice[data-faded] {
  opacity: .3;
}

.chat-line.chat-timedout {
  opacity: .2;
  font-size: .75em;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.chat-line.chat-cleared {
  opacity: .2;
  font-size: .33em;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.chat-channel {
  margin-right: .375em;
  opacity: .6;
  font-weight: 300;
}

.chat-name {
  font-weight: 700;
}

.chat-colon {
  margin-right: .375em;
  opacity: .85;
}

.chat-line:not(.chat-action) .chat-colon:after {
  content: ':';
}

.chat-message {
  font-weight: 400;
}

.chat-line:not(.chat-action) .chat-message {
  color: inherit !important;
}

.emoticon {
  background-position: center center;
  background-repeat: no-repeat;
  margin: -5px 0;
  display: inline-block;
  vertical-align: middle !important;
  height: 1.5em;
}

.chat-badges {
  margin-right: .125em;
}

.chat-badges > div {
  margin-bottom: 1px;
  border-radius: 2px;
  height: 1em;
  min-width: 1em;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: .3em;
}

.chat-badge-mod {
  background-color: #33ae0a;
  background-image: url(http://www.twitch.tv/images/xarth/badge_mod.svg);
}

.chat-badge-turbo {
  background-color: #6441a4;
  background-image: url(http://www.twitch.tv/images/xarth/badge_turbo.svg);
}

.chat-badge-broadcaster {
  background-color: #e71818;
  background-image: url(http://www.twitch.tv/images/xarth/badge_broadcaster.svg);
}

.chat-badge-admin {
  background-color: #faaf19;
  background-image: url(http://www.twitch.tv/images/xarth/badge_admin.svg);
}

.chat-badge-staff {
  background-color: #200f33;
  background-image: url(http://www.twitch.tv/images/xarth/badge_staff.svg);
}

.chat-badge-bot {
  background-image: url(https://cdn.betterttv.net/tags/bot.png);
}

[class*="chat-room"] {
  font-size: .5em;
}

#block-mainnavigation {
  background-color: #0058A2;
  padding: 0;
  border: none;
}
#block-mainnavigation .navbar-brand {
  margin-right: 35px;
  background: url("../images/logo.png") center center no-repeat;
  width: 100px;
  height: 70px;
  background-size: contain;
}
#block-mainnavigation ul {
  list-style: none;
}
#block-mainnavigation ul li {
  margin: 0;
}
#block-mainnavigation ul li a {
  color: #fff;
  font-weight: bold;
  padding: 30px 22px;
  text-transform: uppercase;
}
#block-mainnavigation ul li a:hover, #block-mainnavigation ul li a.is-active {
  background-color: #FC7E00;
}
#block-mainnavigation ul li.nav-item--active-trail > a {
  background-color: #FC7E00;
}
#block-mainnavigation ul li:hover ul {
  display: block;
}
#block-mainnavigation ul li ul {
  position: absolute;
  display: none;
  background-color: #0058A2;
}
#block-mainnavigation ul li ul li {
  width: 100%;
}
#block-mainnavigation ul li ul li a {
  padding: 10px 22px;
}

body.toolbar-fixed.toolbar-horizontal {
  padding-top: 122px !important;
}
body.toolbar-fixed.toolbar-horizontal #block-mainnavigation {
  margin-top: 42px;
}
body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open {
  padding-top: 165px !important;
}
body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open #block-mainnavigation {
  margin-top: 85px;
}
body.toolbar-fixed.toolbar-vertical {
  padding-top: 122px !important;
}
body.toolbar-fixed.toolbar-vertical #block-mainnavigation {
  margin-top: 42px;
}
body.toolbar-fixed.toolbar-vertical.toolbar-tray-open #block-mainnavigation {
  padding-left: 15rem;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

/*# sourceMappingURL=style.css.map */
