<div class="grey-block event-home-cta">
    <div class="row">
        <div class="col-md-12">
            <div class="text no-title">
                {{ "Découvrez l'intégralité du programme, les conférences, les évènements de cette édition 2017 de la Gamer Assembly."|t }}
            </div>
        </div>
    </div>
    <div class="row btn-bottom">
        <div class="col-md-7 col-md-offset-5">
			<a href="#">
	            <div class="cta btn-motion btn-1c">
	                {{ "Programme"|t }}
	            </div>
            </a>
        </div>
    </div>
</div>