<div class="slideshow">
    <div class="footer-slider-container">
    	{% for sponsor in sponsors %}
	        <figure>
	            <img src="{{ sponsor.image }}" alt="" class="img-responsive center-block">
	        </figure>    	
    	{% endfor %}
    </div>
</div>
