#block-mainnavigation {
  background-color: $blue;
  padding: 0;
  border:none;
  z-index:1;
  .navbar-brand {
    margin-right: 35px;
    background: url('../images/logo.png') center center no-repeat;
    width: 100px;
    height: 70px;
    background-size: contain;
  }
  ul {
    list-style: none;
    li {
      margin: 0;
      a {
        transition: background-color 0.3s;
        color: $white;
        font-weight: bold;
        padding: 30px 22px;
        text-transform: uppercase;
        &:hover, &.is-active {
          background-color: $orange;
        }
      }
      &.nav-item--active-trail > a {
        background-color: $orange;
      }
      &:hover ul {
        height: auto;
        opacity: 1;
      }
      ul {
        position: absolute;
        height: 0;
        opacity:0;
        transition: opacity 0.3s ease-out;
        background-color: $blue;
        li {
          width: 100%;
          a {
            padding: 10px 22px;
          }
        }
      }
    }
  }
}

body {
  &.toolbar-fixed {
    &.toolbar-horizontal {
      padding-top: 122px !important;
      #block-mainnavigation {
        margin-top: 42px;
      }
      &.toolbar-tray-open {
        padding-top: 165px !important;
        #block-mainnavigation {
          margin-top: 85px;
        }
      }
    }
    &.toolbar-vertical {
      padding-top: 122px !important;
      #block-mainnavigation {
        margin-top: 42px;
      }
      &.toolbar-tray-open {
        #block-mainnavigation {
          padding-left: 15rem;
        }
      }
    }

  }

}