{% if content.slide_row %}
    <div class="row slide-area">
        <div class="col-md-12">
            {{ content.slide_row }}
        </div>
    </div>
{% endif %}
{% if content.grey_row %}
    <div class="row grey-area">
        <div class="col-md-12">
            {{ content.grey_row }}
        </div>
    </div>
{% endif %}
{% if content.blue_row %}
    <div class="row blue-area">
        <div class="col-md-12">
            {{ content.blue_row }}
        </div>
    </div>
{% endif %}
{% if content.white_row %}
    <div class="row white-area">
        <div class="col-md-12">
            {{ content.white_row }}
        </div>
    </div>
{% endif %}
