<div class="slide-area">
    {{ content.slide_row }}
</div>
<div class="grey-area">
    {{ content.grey_row }}
</div>
<div class="blue-area">
    {{ content.blue_row }}
</div>
<div class="white-area">
    {{ content.white_row }}
</div>