<div class="tournaments-home-next">
    <div class="row">
        <div class="col-md-12">
            {{ "A suivre"|t }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <td>LoL</td>
                    <td>poule</td>
                    <td>Millénium</td>
                    <td>V - D</td>
                    <td>aAa</td>
                </tr>
            </table>
        </div>
    </div>
    //TODO Implémenter Toornament
</div>