{{ attach_library('gamers_assembly/gamers_assembly.tournaments-home-next') }}

<div class="tournaments-home-next">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ "A suivre"|t }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>Chargement du programme à venir</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
