<div>
    {% include directory ~ '/components/title-line/title-line.html.twig' with {
    title:"Inscriptions"|t,
    } only %}
    <div class="row signup">
        <div class="col-md-12">
            <div class="status">
                Status
            </div>
            <div class="tournaments">
                <!-- TODO : WHILE -->
                <div class="row">
                    <div class="col-md-2 tag league-of-legends">
                        LoL
                    </div>
                    <div class="col-md-10 name">
                        <div class="progress-current low" style="width: 15%;"></div>
                        <div class="title">League of Legends</div>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-2 tag league-of-legends">
                        LoL
                    </div>
                    <div class="col-md-10 name">
                        <div class="progress-current medium" style="width: 50%"></div>
                        <div class="title">League of Legends</div>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-2 tag league-of-legends">
                        LoL
                    </div>
                    <div class="col-md-10 name">
                        <div class="progress-current high" style="width: 75%"></div>
                        <div class="title">League of Legends</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>