.schedule {

  #timeline {
    margin-top: 2rem;

    .vis-tooltip {
      border: 1px solid $black;
      border-radius: 0;

      background-color: white;
      padding: 1rem;
      .activity-tooltip {
        font-family: 'Roboto', sans-serif !important;
        p {
          margin: 0 0 0.5rem;
        }
      }

    }
    .vis-even {
      background-color: rgba(0, 0, 0, 0.05);
    }
    .vis-labelset .vis-label {
      background-color: #0058A2;
      color: #ffffff;
      height:6rem;
    }

    .vis-panel.vis-left .vis-label {
      display: flex;
      .vis-inner {
        margin: auto;
        display: block;
      }
    }
    .vis-item {
      background-color: #00698f;
      color: #ffffff;
      cursor: pointer;
      &.vis-range {
        border-radius: 0px;
      }

      .vis-item-overflow {
        //overflow: visible;
        height: 6rem;

        .vis-item-content {
          padding: 0;
          white-space: normal;

        }
      }
    }

    .activity {
      .content {
        padding: 0.5rem;
        height: 6rem;
        font-size: 1.2rem;
        overflow: hidden;

      }

    }

  }
}
