.schedule {


    #timeline {
      margin-top: 2rem;

      .vis-panel.vis-left .vis-label {
        display: flex;
        .vis-inner {
          margin: auto;
          display: block;
        }
      }
      .vis-item {
        &.vis-range {
          border-radius: 0px;
        }

        .vis-item-overflow {
          overflow: visible;

          .vis-item-content {
            padding: 0;

          }
        }
      }

      .activity {
        .content {
          padding: 20px;

        }

      }

  }
}
