@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  margin-bottom: 60px;
}

* {
  font-size: 14px;
}

html, body {
  letter-spacing: 1px;
}

body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center center;
}

a {
  cursor: pointer;
  color: #4589c6;
}

a:hover {
  color: #70b0e9;
}

a[name]:before {
  display: block;
  content: "";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
}

.cta {
  z-index: 0;
  position: relative;
  padding: 10px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

/* Button 1c */
.btn-white {
  background-color: #ffffff;
  color: #333333;
  font-weight: bold;
}

.btn-1c:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #27bf27;
}

.btn-1c:hover,
.btn-1c:active {
  color: white !important;
}

.btn-1c:hover:after,
.btn-1c:active:after {
  width: 100%;
}

.btn-motion:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.slide-area {
  background-color: red;
}

.grey-area {
  background: url("../images/bg-home-grey-area.jpg") center center no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.grey-area-title {
  background: url("../images/bg-home-grey-area.jpg") center center no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
}
.grey-area-title .title-line {
  margin-bottom: 0px;
}

.blue-area {
  background: url("../images/bg-home-blue-area.jpg") center center no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.white-area {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #333333;
}

/* Collapse */
.info-header {
  padding-left: 20px;
  border-left: 1px solid #bbbbbb;
  margin-bottom: 30px;
}

.info-block-head {
  text-align: left;
  font-size: 18px;
  color: #ffffff;
}
.info-block-head .fa {
  font-size: 18px;
}

.info-block-padding {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.info-block-table {
  display: table;
  width: 100%;
  height: 100%;
}

.info-block-cell {
  display: table-cell;
  vertical-align: middle;
}

.info-block-body {
  background-color: #474747;
  margin-bottom: 30px;
  color: #ffffff;
  padding: 15px;
}
.info-block-body p:last-child {
  margin-bottom: 0px;
}

.info-collapse {
  margin-bottom: 30px;
}
.info-collapse .info-block-body {
  margin-bottom: 0px;
}
.info-collapse .info-icon {
  width: 25px;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
}
.info-collapse .info-carret {
  text-align: center;
  border-left: 2px solid #ffffff;
  width: 78px;
  padding: 0px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.info-collapse .info-carret .fa {
  font-size: 32px;
}
.info-collapse [aria-expanded="true"] .fa-caret-up {
  display: inline-block;
}
.info-collapse [aria-expanded="true"] .fa-caret-down {
  display: none;
}
.info-collapse [aria-expanded="false"] .fa-caret-up {
  display: none;
}
.info-collapse [aria-expanded="false"] .fa-caret-down {
  display: inline-block;
}

#block-mainnavigation {
  background-color: #0058A2;
  padding: 0;
  border: none;
  z-index: 1;
}
#block-mainnavigation .navbar-brand {
  margin-right: 20px;
  background: url("../images/logo.png") center center no-repeat;
  width: 85px;
  height: 70px;
  background-size: contain;
}
#block-mainnavigation .navbar-toggle {
  border-color: #ffffff;
  margin-top: 18px;
  border-radius: 0px;
}
#block-mainnavigation .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
#block-mainnavigation .navbar-toggle:hover, #block-mainnavigation .navbar-toggle:focus {
  background-color: #333333;
}
#block-mainnavigation ul {
  list-style: none;
}
#block-mainnavigation ul li {
  margin: 0;
}
#block-mainnavigation ul li a {
  transition: background-color 0.3s;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  padding: 25px 15px;
  text-transform: uppercase;
}
#block-mainnavigation ul li a:hover, #block-mainnavigation ul li a.is-active {
  background-color: #156AAD;
}
#block-mainnavigation ul li a.ticketing {
  background-color: #FC7E00;
}
#block-mainnavigation ul li a.ticketing:hover, #block-mainnavigation ul li a.ticketing.is-active {
  background-color: #FF8D31;
}
#block-mainnavigation ul li a.main-sponsor {
  padding-top: 0px;
  padding-bottom: 0px;
}
#block-mainnavigation ul li a.main-sponsor img {
  height: 70px;
}
#block-mainnavigation ul li.nav-item--active-trail > .active-mesh {
  background-color: red;
  position: absolute;
  width: 100%;
  height: 9px;
  background: url(../images/menu-arrow.png) no-repeat center center;
}
#block-mainnavigation ul li.nav-item--active-trail > a {
  background-color: #156AAD;
}
#block-mainnavigation ul li:hover ul {
  height: auto;
  display: block;
}
#block-mainnavigation ul li ul {
  display: none;
  position: absolute;
  height: 0;
  transition: opacity 0.3s ease-out;
  background-color: #0058A2;
}
#block-mainnavigation ul li ul li {
  width: 100%;
}
#block-mainnavigation ul li ul li a {
  padding: 10px 22px;
}

body.toolbar-fixed.toolbar-horizontal {
  padding-top: 112px !important;
}
body.toolbar-fixed.toolbar-horizontal #block-mainnavigation {
  margin-top: 42px;
}
body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open {
  padding-top: 155px !important;
}
body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open #block-mainnavigation {
  margin-top: 85px;
}
body.toolbar-fixed.toolbar-vertical {
  padding-top: 122px !important;
}
body.toolbar-fixed.toolbar-vertical #block-mainnavigation {
  margin-top: 42px;
}
body.toolbar-fixed.toolbar-vertical.toolbar-tray-open #block-mainnavigation {
  padding-left: 15rem;
}

.menu-footer {
  background-color: #333333;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
}
.menu-footer ul {
  padding-left: 0px;
  list-style-type: none;
  display: inline-block;
  margin: 0;
}
.menu-footer ul li {
  margin-bottom: 15px;
  display: inline-block;
}
.menu-footer ul li a {
  color: #ffffff;
  border-right: 1px solid #ffffff;
  padding-right: 10px;
}
.menu-footer ul li:last-child a {
  border-right: none;
}
.menu-footer a {
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
.menu-footer a i {
  margin-bottom: 15px;
}
.menu-footer a:hover, .menu-footer a:focus {
  color: white;
  text-decoration: underline;
}
.menu-footer i {
  font-size: 16px;
}

@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }

  .navbar-left, .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
    overflow-y: auto !important;
  }

  .main-sponsor {
    display: none !important;
  }

  .nav-item .navbar-nav {
    display: block !important;
    position: relative !important;
    height: auto !important;
    margin-top: 0px !important;
  }
  .nav-item .navbar-nav li a {
    padding: 25px 15px 25px 50px !important;
  }
}
@media (max-width: 768px) {
  .navbar-brand {
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .navbar-brand {
    margin-left: 0px !important;
  }
}
body {
  font-family: 'Roboto', sans-serif !important;
}

.views-news a:hover, .views-news a:focus {
  text-decoration: none;
}
.views-news .title-line {
  margin-bottom: 0px;
}
.views-news .form-item, .views-news .form-actions {
  display: inline-block;
}
.views-news label {
  width: auto;
  margin-right: 10px;
}
.views-news select {
  min-width: 150px;
}
.views-news .white-area .headline {
  margin-bottom: 50px;
}
.views-news .white-area .news {
  margin-bottom: 30px;
}
.views-news .white-area .news .news-image {
  height: 150px;
  background-size: cover;
  background-position: center center;
}
.views-news .white-area .news .news-tags {
  background-color: #004278;
  color: #ffffff;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}
.views-news .white-area .news h2 {
  margin-top: 10px;
  margin-bottom: 0px;
}
.views-news .white-area .news h2 a {
  font-weight: bold;
  color: #333333;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-bottom: 5px;
}
.views-news .white-area .news .news-date {
  color: #333333;
  border-bottom: 1px solid #333333;
  margin-bottom: 10px;
  font-weight: 400;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.views-news .white-area .news .news-content {
  color: #333333;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  height: 80px;
  margin: 0 auto;
  text-align: justify;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.views-news .white-area .news .news-more {
  margin-top: 10px;
  text-align: right;
}
.views-news .white-area .news .news-more a {
  color: #333333;
  padding: 5px 20px;
  border: 1px solid #333333;
}

.node-news .headline {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 48px;
  font-weight: bold;
}
.node-news .title-line {
  margin-bottom: 0px;
}
.node-news .blue-area {
  padding-top: 40px;
  padding-bottom: 40px;
}
.node-news .content-left .news-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0px;
}
.node-news .content-left .news-info {
  margin-bottom: 20px;
}
.node-news .content-left .news-info .news-author {
  font-weight: bold;
}
.node-news .content-left .news-info .news-date {
  color: #333333;
}
.node-news .content-left .news-share {
  margin-bottom: 20px;
  text-align: right;
}
.node-news .content-left .news-facebook {
  background-color: #3B5998;
  color: #ffffff;
  font-size: 22px;
  padding: 5px 14px;
  text-align: center;
  display: inline-block;
}
.node-news .content-left .news-twitter {
  background-color: #00aced;
  color: #ffffff;
  font-size: 22px;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
}
.node-news .content-left .news-image {
  height: 350px;
  background-size: cover;
  background-position: center center;
}
.node-news .content-left .news-content {
  margin-top: 30px;
  padding-left: 20px;
  border-left: 1px solid #bbbbbb;
  margin-bottom: 30px;
  text-align: justify;
}
.node-news .content-left .news-link {
  text-align: center;
}
.node-news .content-left .news-link a {
  cursor: pointer;
  color: #ffffff;
  padding: 5px 20px;
  border: 1px solid white;
}
.node-news .content-left .news-link a:focus, .node-news .content-left .news-link a:hover {
  text-decoration: none;
}
.node-news .content-right .title-line {
  margin-bottom: 20px;
}
.node-news .content-right .news-main .news-image {
  height: 72px !important;
}
.node-news .content-right .news-main h2 {
  margin-top: 0px;
}
.node-news .content-right .news-main .news-background {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.node-news .content-right .news-main .news-background .news-title {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.node-news .content-right .news-main .news-background .news-date {
  color: #333333;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
  font-size: 12px;
}
.node-news .content-right .news-main .news-background .news-content {
  color: white;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  margin: 0 auto;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 40px;
}
.node-news .content-right .news-main .news-background .news-more {
  margin-bottom: -10px;
  margin-right: -10px;
  text-align: right;
  margin-top: 15px;
}
.node-news .content-right .news-main .news-background .news-more span {
  color: #333333;
  font-weight: bold;
  display: inline-block;
  padding: 5px 25px;
  cursor: pointer;
  background-color: #ffffff;
  font-size: 12px;
}
.node-news .content-right .news, .node-news .content-right .news-main {
  margin-bottom: 20px;
}
.node-news .content-right .news .news-left, .node-news .content-right .news-main .news-left {
  padding-right: 0px;
}
.node-news .content-right .news .news-right, .node-news .content-right .news-main .news-right {
  padding-left: 0px;
}
.node-news .content-right .news a, .node-news .content-right .news-main a {
  text-decoration: none;
  color: #ffffff;
}
.node-news .content-right .news a:hover, .node-news .content-right .news a:focus, .node-news .content-right .news-main a:hover, .node-news .content-right .news-main a:focus {
  color: #ffffff;
}
.node-news .content-right .news .news-image, .node-news .content-right .news-main .news-image {
  position: relative;
  height: 80px;
  background-size: cover;
  background-position: center center;
}
.node-news .content-right .news .news-image .news-overlay, .node-news .content-right .news-main .news-image .news-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.54);
  height: 29px;
  line-height: 29px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 2px 5px;
}
.node-news .content-right .news .news-type, .node-news .content-right .news-main .news-type {
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  padding: 3px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: #004278;
}
.node-news .content-right .more-news {
  margin-top: 20px;
  background-color: #ffffff;
  display: inline-block;
  padding: 15px 50px;
  color: #333333;
  font-weight: bold;
}

@media (max-width: 992px) {
  .node-news .news-share {
    text-align: left !important;
  }
}
.views-tournaments a:hover, .views-tournaments a:focus {
  text-decoration: none;
}
.views-tournaments label {
  width: 100px;
}
.views-tournaments select {
  width: 150px;
}
.views-tournaments .title-line {
  margin-bottom: 0px;
}
.views-tournaments .white-area {
  padding-top: 40px;
}
.views-tournaments .white-area .tournament {
  margin-bottom: 30px;
}
.views-tournaments .white-area .tournament a:hover {
  text-decoration: none;
}
.views-tournaments .white-area .tournament a .tournament-game {
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}
.views-tournaments .white-area .tournament a .tournament-game h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: #ffffff;
  font-weight: bold;
}
.views-tournaments .white-area .tournament .tournament-status {
  font-weight: 100;
  margin-top: 5px;
}
.views-tournaments .white-area .tournament .tournament-status .low {
  color: #27bf27;
}
.views-tournaments .white-area .tournament .tournament-status .medium {
  color: #f0ad4e;
}
.views-tournaments .white-area .tournament .tournament-status .high {
  color: #d9534f;
}
.views-tournaments .white-area .tournament .tournament-bar {
  background-color: #999999;
  height: 5px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  position: relative;
}
.views-tournaments .white-area .tournament .tournament-bar .progress-current {
  position: absolute;
  height: 5px;
}
.views-tournaments .white-area .tournament .tournament-bar .progress-current.low {
  background-color: #27bf27;
}
.views-tournaments .white-area .tournament .tournament-bar .progress-current.medium {
  background-color: #f0ad4e;
}
.views-tournaments .white-area .tournament .tournament-bar .progress-current.high {
  background-color: #d9534f;
}
.views-tournaments .white-area .tournament .tournament-more {
  margin-top: 10px;
}
.views-tournaments .white-area .tournament .tournament-more a {
  color: #333333;
  padding: 5px 20px;
  border: 1px solid #999999;
}

.node-tournament .white-area {
  padding-top: 0px;
}
.node-tournament .tournament-tag-info {
  margin-top: 5px;
}
.node-tournament .tournament-tag {
  background-color: #d7eaf9;
  color: #85a9c7;
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
}
.node-tournament .tournament-game-description {
  margin-top: 0px;
  padding-left: 20px;
  border-left: 1px solid #bbbbbb;
  margin-bottom: 30px;
}
.node-tournament .tournament-description {
  margin-top: 30px;
  /*padding-left: 20px;
  border-left: 1px solid $light-grey;*/
  margin-bottom: 20px;
}
.node-tournament .tournament-planning {
  margin-bottom: 30px;
}
.node-tournament .tournament-planning h3 {
  background-color: #272625;
  color: #ffffff;
  padding: 10px 15px;
  margin-bottom: 0px;
  font-size: 18px;
}
.node-tournament .tournament-planning .content {
  background-color: #474747;
  padding: 10px 15px;
  color: white;
}
.node-tournament .tournament-planning .content p:last-child {
  margin-bottom: 0px;
}
.node-tournament .tournament-team {
  background-color: #333333;
  padding-left: 15px;
  padding-right: 15px;
}
.node-tournament .tournament-cashprize {
  color: #ffffff;
}
.node-tournament .tournament-cashprize h3 {
  background-color: #829e00;
  padding: 10px 15px;
  margin-bottom: 0px;
  font-size: 18px;
}
.node-tournament .tournament-cashprize .line {
  padding: 10px 15px;
  background-color: #474747;
}
.node-tournament .tournament-cashprize .line.light-grey {
  background-color: #7a7878;
}
.node-tournament .tournament-cashprize .note {
  font-size: 12px;
  font-style: italic;
  padding: 5px 0px;
  color: #829e00;
}
.node-tournament .tournament-format {
  color: #ffffff;
}
.node-tournament .tournament-format h3 {
  background-color: #00579e;
  padding: 10px 15px;
  margin-bottom: 0px;
  font-size: 18px;
}
.node-tournament .tournament-format .line {
  padding: 10px 15px;
  background-color: #474747;
}
.node-tournament .tournament-format .line.light-grey {
  background-color: #7a7878;
}
.node-tournament .tournament-cta a {
  color: #FC7E00;
  border: 1px solid #FC7E00;
  padding: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
}
.node-tournament .tournament-cta a:hover {
  background-color: #FF8D31;
  color: #ffffff;
}
.node-tournament .tournament-rules {
  margin-bottom: 30px;
  color: #ffffff;
}
.node-tournament .tournament-rules h3 {
  background-color: #9e3000;
  padding: 10px 15px;
  margin-bottom: 0px;
  font-size: 18px;
}
.node-tournament .tournament-rules .rule {
  padding: 10px 15px;
  background-color: #474747;
}
.node-tournament .tournament-rules .rule.light-grey {
  background-color: #7a7878;
}

body.tournament-sponsor .node-tournament .white-area {
  padding-top: 0px;
}
body.tournament-sponsor .node-tournament .white-area .container:first-child {
  background-color: #ffffff;
}

.sponsor-page .sponsor-container:not(:last-child) {
  margin-bottom: 5px;
}
.sponsor-page .sponsor-container .row {
  text-align: center;
}
.sponsor-page .sponsor-container .col-md-2 {
  display: inline-block;
  float: none;
  margin-bottom: 30px;
}
.sponsor-page .logo-sponsor {
  height: 130px;
  line-height: 130px;
  text-align: center;
  opacity: 1;
  transition: 0.2s;
  display: block;
  margin-bottom: 10px;
}
.sponsor-page .logo-sponsor:hover {
  opacity: 0.8;
  transition: 0.2s;
}
.sponsor-page .logo-sponsor img {
  display: inline-block;
}

.information-page .white-area {
  padding-top: 0px;
}
.information-page .google-map {
  margin-bottom: 50px;
}
.information-page .google-map .content-left {
  background: url(../images/bg-home-blue-area.jpg) center center no-repeat;
  color: white;
  padding-top: 50px;
}
.information-page .google-map .content-right {
  background-color: #ddd;
}
.information-page .info-ticketing {
  background-color: #FC7E00;
  margin-bottom: 50px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.information-page .info-equipment {
  background-color: #333333;
  padding-left: 15px;
  padding-right: 15px;
}
.information-page .info-restoration {
  background-color: #46679e;
  padding-left: 15px;
  padding-right: 15px;
}
.information-page .info-schedule {
  background-color: #0058a2;
  padding-right: 85px;
}
.information-page .info-access {
  background-color: #4589c6;
  padding-right: 85px;
}
.information-page .info-pricing {
  background-color: #005a7c;
  padding-right: 85px;
}
.information-page .info-accommodation {
  background-color: #00356f;
  padding-right: 85px;
}

.medias-page .info-header {
  padding-left: 20px;
  border-left: 1px solid #bbbbbb;
  margin-bottom: 30px;
}
.medias-page .info-block-head {
  padding-right: 85px;
  text-align: left;
  font-size: 18px;
  color: #ffffff;
}
.medias-page .info-block-head .fa {
  font-size: 22px;
}
.medias-page .info-block-padding {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 18px;
}
.medias-page .info-block-table {
  display: table;
  width: 100%;
  height: 100%;
}
.medias-page .info-block-cell {
  display: table-cell;
  vertical-align: middle;
}
.medias-page .info-block-body {
  background-color: #474747;
  margin-bottom: 30px;
  color: #ffffff;
  overflow: hidden;
  text-align: justify;
}
.medias-page .info-block-body p:last-child {
  margin-bottom: 0px;
}
.medias-page .info-block-body .hack-height {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.medias-page .info-block-body .border-style {
  border-right: 2px solid white;
}
.medias-page .info-block-body .info-block-left, .medias-page .info-block-body .info-block-right {
  padding: 15px;
}
.medias-page .info-block-body .info-block-left a:hover, .medias-page .info-block-body .info-block-left a:focus, .medias-page .info-block-body .info-block-right a:hover, .medias-page .info-block-body .info-block-right a:focus {
  text-decoration: none;
}
.medias-page .info-block-body .info-block-left {
  padding-right: 0px;
}
.medias-page .info-block-body .info-block-right {
  padding-left: 0px;
}
.medias-page .info-block-body .flickr-img {
  margin-bottom: 15px;
}
.medias-page .info-collapse {
  margin-bottom: 30px;
}
.medias-page .info-collapse .info-block-body {
  margin-bottom: 0px;
}
.medias-page .info-collapse .info-icon {
  width: 25px;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
}
.medias-page .info-collapse .info-carret {
  text-align: center;
  border-left: 2px solid #ffffff;
  width: 78px;
  padding: 0px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.medias-page .info-collapse .info-carret .fa {
  font-size: 32px;
}
.medias-page .info-collapse [aria-expanded="true"] .fa-caret-up {
  display: inline-block;
}
.medias-page .info-collapse [aria-expanded="true"] .fa-caret-down {
  display: none;
}
.medias-page .info-collapse [aria-expanded="false"] .fa-caret-up {
  display: none;
}
.medias-page .info-collapse [aria-expanded="false"] .fa-caret-down {
  display: inline-block;
}

.node-page .page-image {
  height: 350px;
  background-size: cover;
  background-position: center center;
}
.node-page .page-content {
  margin-top: 30px;
  padding-left: 20px;
  border-left: 1px solid #bbbbbb;
  margin-bottom: 30px;
}

.memory-image {
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

select, input {
  height: 30px;
  background-color: #999999;
  color: #ffffff;
  border: 1px solid #ffffff;
  opacity: 0.25;
}

select {
  width: 100%;
  opacity: 1;
}
select option {
  color: #ffffff;
}

/**
 * Select
 */
:root .css3-metro-dropdown option, :root .css3-metro-dropdown:after, :root .css3-metro-dropdown::after, :root .css3-metro-dropdown select {
  color: #fff;
  margin-bottom: 0px;
}

:root .css3-metro-dropdown select, :root .css3-metro-dropdown:after, :root .css3-metro-dropdown::after {
  display: block;
  background: rgba(153, 153, 153, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

:root .css3-metro-dropdown select, :root .css3-metro-dropdown option {
  padding: 6px 45px 6px 15px;
}

:root .css3-metro-dropdown {
  position: relative;
  display: inline-block;
  border: 0;
  width: auto;
}

:root .css3-metro-dropdown::after {
  content: "\25bc";
  background-color: #ffffff;
  color: #333333;
  margin: 5px;
  position: absolute;
  top: -4px;
  right: -4px;
  display: block;
  width: 32px;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  font-size: 10px;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

:root .css3-metro-dropdown select {
  height: 34px;
  border: 0;
  vertical-align: middle;
  outline: 0;
  border: 1px solid #999999;
}

:root .css3-metro-dropdown option {
  background: #999999;
  color: #fff;
}

:root .css3-metro-dropdown select:hover, :root .css3-metro-dropdown:after:hover, :root .css3-metro-dropdown::after:hover {
  background: #0058A2;
}

.css3-metro-dropdown .caret {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 32px;
  height: 32px;
  background-color: #333333;
  border: none;
}
.css3-metro-dropdown .caret::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ffffff;
  position: absolute;
  top: 14px;
  left: 12px;
}

:root .css3-metro-dropdown-inverse select, :root .css3-metro-dropdown-inverse:after, :root .css3-metro-dropdown-inverse::after {
  background: #333333;
}

:root .css3-metro-dropdown-inverse select {
  border: 1px solid #333333;
}

:root .css3-metro-dropdown-inverse::after {
  background-color: #999999;
}

:root .css3-metro-dropdown-inverse option {
  background: #333333;
  color: #fff;
}

.css3-metro-dropdown-inverse .caret {
  background-color: #999999;
}

.slideshow .video-container {
  background-color: #000;
}
.slideshow video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.stream {
  margin-bottom: 40px;
}
.stream .stream-video {
  padding: 0;
}
.stream .stream-chat-video-list {
  padding: 0;
  border: 1px solid #ffffff;
}
.stream .stream-chat-video-list .stream-tabs .col-md-6 {
  cursor: pointer;
}
.stream .stream-chat-video-list .stream-tabs .col-md-6:first-child {
  padding-right: 0px;
  border-right: 1px solid #333333;
}
.stream .stream-chat-video-list .stream-tabs .col-md-6:last-child {
  padding-left: 0px;
}
.stream .stream-chat-video-list .stream-tabs .stream-tab-chat, .stream .stream-chat-video-list .stream-tabs .stream-tab-video-list {
  color: black;
  width: 100%;
  margin: 0;
  font-size: 18px;
  padding: 0 0 0 10px;
  line-height: 40px;
  background-color: #bbbbbb;
  transition: all 0.2s ease-in;
}
.stream .stream-chat-video-list .stream-tabs .stream-tab-chat.active, .stream .stream-chat-video-list .stream-tabs .stream-tab-video-list.active {
  background-color: #ffffff;
  transition: all 0.2s ease-in;
}
.stream .stream-chat-video-list .stream-chat {
  display: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
}
.stream .stream-chat-video-list .stream-chat #chat {
  overflow-y: auto;
  height: 362px;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  word-wrap: break-word;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line[data-faded] {
  opacity: .8;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice {
  opacity: .7;
  font-weight: 300;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="-4"] {
  color: #765eed;
  font-style: italic;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="-3"] {
  color: #1aa2e6;
  font-style: italic;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="-2"] {
  color: #1ae6a2;
  font-style: italic;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="-1"] {
  color: #5ee61a;
  font-style: italic;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="1"] {
  color: #ffea00;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="2"] {
  color: #ff8000;
  font-weight: 400;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="3"] {
  color: red;
  font-weight: 400;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="4"] {
  color: red;
  font-weight: 700;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-faded] {
  opacity: .3;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-timedout {
  opacity: .2;
  font-size: .75em;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-cleared {
  opacity: .2;
  font-size: .33em;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-channel {
  margin-right: .375em;
  opacity: .6;
  font-weight: 300;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-name {
  font-weight: 700;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-colon {
  margin-right: .375em;
  opacity: .85;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line:not(.chat-action) .chat-colon:after {
  content: ':';
}
.stream .stream-chat-video-list .stream-chat #chat .chat-message {
  font-weight: 400;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line:not(.chat-action) .chat-message {
  color: inherit !important;
}
.stream .stream-chat-video-list .stream-chat #chat .emoticon {
  background-position: center center;
  background-repeat: no-repeat;
  margin: -5px 0;
  display: inline-block;
  vertical-align: middle !important;
  height: 1.5em;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badges {
  margin-right: .125em;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badges > div {
  margin-bottom: 1px;
  border-radius: 2px;
  height: 1em;
  min-width: 1em;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: .3em;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badge-mod {
  background-color: #33ae0a;
  background-image: url(http://www.twitch.tv/images/xarth/badge_mod.svg);
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badge-turbo {
  background-color: #6441a4;
  background-image: url(http://www.twitch.tv/images/xarth/badge_turbo.svg);
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badge-broadcaster {
  background-color: #e71818;
  background-image: url(http://www.twitch.tv/images/xarth/badge_broadcaster.svg);
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badge-admin {
  background-color: #faaf19;
  background-image: url(http://www.twitch.tv/images/xarth/badge_admin.svg);
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badge-staff {
  background-color: #200f33;
  background-image: url(http://www.twitch.tv/images/xarth/badge_staff.svg);
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badge-bot {
  background-image: url(https://cdn.betterttv.net/tags/bot.png);
}
.stream .stream-chat-video-list .stream-chat #chat [class*="chat-room"] {
  font-size: .5em;
}
.stream .stream-chat-video-list .stream-video-list {
  height: 362px;
}
.stream .stream-chat-video-list .stream-video-list .stream-video-list-item {
  cursor: pointer;
  line-height: 40px;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.stream .stream-chat-video-list .stream-video-list .stream-video-list-item.active {
  background-color: white;
  color: #333333;
  font-weight: bold;
}
.stream .stream-chat-video-list .stream-video-list .stream-video-list-item.active.online .stream-video-list-count {
  background-position: left -15px;
  font-weight: normal;
}
.stream .stream-chat-video-list .stream-video-list .stream-video-list-item.online .stream-video-list-count {
  background: url("../images/eye.png") left 1px no-repeat;
  padding-left: 25px;
  line-height: 15px;
  margin-top: 12px;
}
.stream .stream-chat-video-list .stream-video-list .stream-video-list-item.online .stream-video-list-name:before {
  background-color: #7eff00;
}
.stream .stream-chat-video-list .stream-video-list .stream-video-list-item .stream-video-list-name:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #324520;
  margin-right: 5px;
}

.home-block {
  background-color: rgba(255, 255, 255, 0.1);
  background-position: left bottom;
  background-repeat: no-repeat;
  min-height: 205px;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.home-block .title {
  background-color: white;
  font-size: 18px;
  color: #333333;
  padding: 10px 15px;
}
.home-block .text {
  text-align: right;
  padding: 20px 15px 20px 60px;
  letter-spacing: 1px;
}
.home-block .btn-bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.home-block a.reverse {
  background-color: #FC7E00;
  color: #ffffff;
}
.home-block a:hover {
  text-decoration: none;
}
.home-block a.btn-progress {
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  display: block;
  background-color: #ffffff;
}
.home-block a.btn-progress .cta {
  z-index: 0;
  position: relative;
  padding: 10px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.title-line {
  margin-bottom: 40px;
  /* headlines with lines */
}
.title-line .line {
  background-color: #ffffff;
  margin-top: 30px;
  height: 2px;
}
.title-line h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 28px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.title-line .decorated {
  overflow: hidden;
  text-align: center;
  margin-top: 0px;
}
.title-line .mushroom {
  background: url("../images/mushroom.png") right center no-repeat;
  content: '';
  height: 27px;
  width: 27px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-top: -5px;
}
.title-line .mushroom.black {
  background: url("../images/mushroom-black.png") right center no-repeat;
}
.title-line .space-invader {
  background: url("../images/space-invader-black.png") right center no-repeat;
  content: '';
  height: 24px;
  width: 33px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-top: -5px;
}
.title-line .space-invader.black {
  background: url("../images/space-invader-black.png") right center no-repeat;
}
.title-line .decorated > span, .title-line .decorated > h2 > span {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 28px;
}
.title-line .decorated > span:before, .title-line .decorated > span:after, .title-line .decorated > h2 > span:before, .title-line .decorated > h2 > span:after {
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 2px solid;
  width: 1337%;
  margin: 0 20px;
}
.title-line .decorated > span:before, .title-line .decorated > h2 > span:before {
  right: 100%;
}
.title-line .decorated > span:after, .title-line .decorated > h2 > span:after {
  left: 100%;
}

.tournaments-home-cta {
  background: url("../images/cup.png") center center no-repeat;
  background-size: cover;
}
.tournaments-home-cta .text {
  text-align: right;
  padding: 48px 30px 48px 130px;
  font-weight: bold;
  letter-spacing: 1px;
}
.tournaments-home-cta .cta {
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
}
.tournaments-home-cta .cta a {
  font-weight: bold;
  color: #333333;
}

.headline {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 48px;
  font-weight: bold;
}

.news-home .new {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 25px;
  color: #ffffff;
}
.news-home .new .col {
  display: inline-block;
}
.news-home .new .col.first {
  width: 195px;
}
.news-home .new .col.first .tag {
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}
.news-home .new .col.second {
  width: calc(100% - 220px);
  padding: 10px;
  vertical-align: top;
}
.news-home .new .col.second h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  margin-top: 10px;
}
.news-home .new .col.second .teaser {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  height: 40px;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-home2 .hack-line-left {
  position: absolute;
  height: 2px;
  width: 5014px;
  background-color: white;
  top: 14px;
  left: -4999px;
}
.news-home2 .hack-line-right {
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: white;
  top: 14px;
  right: -15px;
}
.news-home2 .news-main .news-image {
  height: 130px !important;
}
.news-home2 .news-main h2 {
  margin-top: 0px;
}
.news-home2 .news-main .news-background {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.news-home2 .news-main .news-background .news-title {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.news-home2 .news-main .news-background .news-date {
  color: #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
.news-home2 .news-main .news-background .news-content {
  color: white;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 40px;
}
.news-home2 .news-main .news-background .news-more {
  margin-bottom: -10px;
  margin-right: -10px;
  text-align: right;
  margin-top: 28px;
}
.news-home2 .news-main .news-background .news-more span {
  color: #333333;
  font-weight: bold;
  display: inline-block;
  padding: 5px 50px;
  cursor: pointer;
  background-color: #ffffff;
}
.news-home2 .news, .news-home2 .news-main {
  margin-bottom: 20px;
}
.news-home2 .news .news-left, .news-home2 .news-main .news-left {
  padding-right: 0px;
}
.news-home2 .news .news-right, .news-home2 .news-main .news-right {
  padding-left: 0px;
}
.news-home2 .news a, .news-home2 .news-main a {
  text-decoration: none;
  color: #ffffff;
}
.news-home2 .news a:hover, .news-home2 .news a:focus, .news-home2 .news-main a:hover, .news-home2 .news-main a:focus {
  color: #ffffff;
}
.news-home2 .news .news-image, .news-home2 .news-main .news-image {
  position: relative;
  height: 80px;
  background-size: cover;
  background-position: center center;
}
.news-home2 .news .news-image .news-overlay, .news-home2 .news-main .news-image .news-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.54);
  height: 29px;
  line-height: 29px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 2px 5px;
}
.news-home2 .news .news-type, .news-home2 .news-main .news-type {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: #004278;
}
.news-home2 .more-news {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  display: inline-block;
  padding: 15px 50px;
  color: #333333;
  font-weight: bold;
}

@media (max-width: 992px) {
  .news-home2 .news .news-left, .news-home2 .news-main .news-left {
    padding-right: 15px;
  }
  .news-home2 .news .news-right, .news-home2 .news-main .news-right {
    padding-left: 15px;
  }
  .news-home2 .hack-line-right {
    position: absolute;
    height: 2px;
    width: 150px;
    background-color: white;
    top: 14px;
    right: -125px;
  }
}
@media (max-width: 1199px) {
  .news-home2 .news-main .news-background .news-content {
    display: none;
  }
  .news-home2 .news-main .news-background .news-more {
    margin-top: 53px;
  }
}
.twitter-home .twitter-userline {
  height: 605px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.twitter-home .hack-line-right {
  position: absolute;
  height: 2px;
  width: 5014px;
  background-color: white;
  top: 14px;
  right: -4999px;
}

@media (max-width: 992px) {
  .twitter-home .hack-line-left {
    position: absolute;
    height: 2px;
    width: 150px;
    background-color: white;
    top: 14px;
    left: -125px;
  }
}
.sponsors-banner .sponsor {
  text-align: center;
  height: 150px;
  width: 150px;
  display: table-cell;
  vertical-align: middle;
}

.signup .status {
  background-color: #ffffff;
  padding: 7px 10px;
  color: #004278;
  font-size: 18px;
}
.signup .tournaments {
  border-bottom: 1px solid #ffffff;
}
.signup .tournaments .row {
  margin-left: 0px;
  margin-right: 0px;
}
.signup .tournaments .row .tag {
  padding: 5px;
  font-weight: bold;
  text-align: center;
  border-left: 1px solid #ffffff;
}
.signup .tournaments .row .name {
  position: relative;
  padding: 5px 10px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  border-right: 1px solid #ffffff;
  height: 30px;
  z-index: 0;
}
.signup .tournaments .row .name .title {
  position: absolute;
  left: 15px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}
.signup .tournaments .row .name .progress-current {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.signup .tournaments .row .name .progress-current.low {
  background-color: #27bf27;
}
.signup .tournaments .row .name .progress-current.medium {
  background-color: #f0ad4e;
}
.signup .tournaments .row .name .progress-current.high {
  background-color: #d9534f;
}
.signup .tournaments .separator {
  height: 1px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  background-color: #004278;
}

.schedule #timeline .vis-item.vis-range {
  border-radius: 0px;
}
.schedule #timeline .activity {
  height: 50px;
}
.schedule #timeline .activity img {
  height: 20px;
}

/*# sourceMappingURL=style.css.map */
