@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

* {
  font-size: 14px;
}

a {
  cursor: pointer;
}

.title-line {
  margin-top: 10px;
  margin-bottom: 40px;
}
.title-line .line {
  background-color: #ffffff;
  margin-top: 30px;
  height: 2px;
}
.title-line h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 28px;
}
.title-line h2.twitch:after {
  background: url("../images/twitch.png") right center no-repeat;
  content: '';
  height: 28px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.title-line h2.mushroom:after {
  background: url("../images/mushroom.png") right center no-repeat;
  content: '';
  height: 27px;
  width: 27px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.slide-area {
  background-color: red;
}

.grey-area {
  background: url("../images/bg-home-grey-area.jpg") center center no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 20px;
}

.blue-area {
  background: url("../images/bg-home-blue-area.jpg") center center no-repeat;
  background-size: cover;
  color: #ffffff;
}

.white-area {
  background-color: whitesmoke;
}

#block-mainnavigation {
  background-color: #0058A2;
  padding: 0;
  border: none;
  z-index: 1;
}
#block-mainnavigation .navbar-brand {
  margin-right: 35px;
  background: url("../images/logo.png") center center no-repeat;
  width: 100px;
  height: 70px;
  background-size: contain;
}
#block-mainnavigation ul {
  list-style: none;
}
#block-mainnavigation ul li {
  margin: 0;
}
#block-mainnavigation ul li a {
  transition: background-color 0.3s;
  color: #ffffff;
  font-weight: bold;
  padding: 30px 22px;
  text-transform: uppercase;
}
#block-mainnavigation ul li a:hover, #block-mainnavigation ul li a.is-active {
  background-color: #FC7E00;
}
#block-mainnavigation ul li.nav-item--active-trail > a {
  background-color: #FC7E00;
}
#block-mainnavigation ul li:hover ul {
  height: auto;
  opacity: 1;
}
#block-mainnavigation ul li ul {
  position: absolute;
  height: 0;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  background-color: #0058A2;
}
#block-mainnavigation ul li ul li {
  width: 100%;
}
#block-mainnavigation ul li ul li a {
  padding: 10px 22px;
}

body.toolbar-fixed.toolbar-horizontal {
  padding-top: 122px !important;
}
body.toolbar-fixed.toolbar-horizontal #block-mainnavigation {
  margin-top: 42px;
}
body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open {
  padding-top: 165px !important;
}
body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open #block-mainnavigation {
  margin-top: 85px;
}
body.toolbar-fixed.toolbar-vertical {
  padding-top: 122px !important;
}
body.toolbar-fixed.toolbar-vertical #block-mainnavigation {
  margin-top: 42px;
}
body.toolbar-fixed.toolbar-vertical.toolbar-tray-open #block-mainnavigation {
  padding-left: 15rem;
}

.menu-footer {
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
}
.menu-footer ul {
  list-style-type: none;
  margin: 0;
}
.menu-footer ul li {
  display: inline-block;
}
.menu-footer ul li a {
  color: #ffffff;
  border-right: 1px solid #ffffff;
  margin-right: 10px;
  padding-right: 10px;
}
.menu-footer ul li:last-child a {
  border-right: none;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

.views-news .form-item, .views-news .form-actions {
  display: inline-block;
}
.views-news label {
  width: 100px;
}
.views-news select {
  width: 150px;
}
.views-news .white-area {
  margin-top: 40px;
}
.views-news .white-area .news {
  margin-bottom: 30px;
}
.views-news .white-area .news .news-image {
  height: 150px;
  background-size: cover;
  background-position: center center;
}
.views-news .white-area .news .news-tags {
  background-color: red;
  color: #ffffff;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}
.views-news .white-area .news h2 {
  margin-top: 10px;
  margin-bottom: 0px;
}
.views-news .white-area .news h2 a {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.views-news .white-area .news .news-date {
  color: #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
.views-news .white-area .news .news-content {
  color: #999999;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  height: 80px;
  margin: 0 auto;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.views-news .white-area .news .news-more {
  margin-top: 10px;
  text-align: right;
}
.views-news .white-area .news .news-more a {
  color: #999999;
  padding: 5px 20px;
  border: 1px solid #999999;
}

.node-news .news-image {
  height: 350px;
  background-size: cover;
  background-position: center center;
}
.node-news .news-content {
  margin-top: 30px;
  padding-left: 20px;
  border-left: 1px solid #bbbbbb;
  margin-bottom: 30px;
}
.node-news .news-link {
  margin: 30px;
  text-align: center;
}
.node-news .news-link a {
  cursor: pointer;
  color: #ffffff;
  padding: 5px 20px;
  border: 1px solid white;
}

.views-tournaments label {
  width: 100px;
}
.views-tournaments select {
  width: 150px;
}
.views-tournaments .white-area {
  padding-top: 40px;
}
.views-tournaments .white-area .tournament {
  margin-bottom: 30px;
}
.views-tournaments .white-area .tournament a:hover {
  text-decoration: none;
}
.views-tournaments .white-area .tournament a .tournament-image {
  height: 150px;
  background-size: cover;
  background-position: center center;
}
.views-tournaments .white-area .tournament a .tournament-tag {
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}
.views-tournaments .white-area .tournament a .tournament-tag h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: #ffffff;
}

.node-tournament .tournament-image {
  height: 350px;
  background-size: cover;
  background-position: center center;
}
.node-tournament .tournament-description {
  margin-top: 30px;
  padding-left: 20px;
  border-left: 1px solid #bbbbbb;
  margin-bottom: 30px;
}
.node-tournament .tournament-planning {
  margin-bottom: 30px;
}
.node-tournament .tournament-planning h3 {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 0px;
}
.node-tournament .tournament-planning .content {
  background-color: #999999;
  padding: 10px 20px;
}
.node-tournament .tournament-cashprize h3 {
  background-color: #0058A2;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 0px;
}
.node-tournament .tournament-cashprize .line {
  padding: 10px 20px;
  background-color: #999999;
}
.node-tournament .tournament-cashprize .line.light-grey {
  background-color: #bbbbbb;
}
.node-tournament .tournament-cashprize .note {
  font-size: 12px;
  font-style: italic;
  padding: 5px 0px;
}
.node-tournament .tournament-format h3 {
  background-color: #7eff00;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 0px;
}
.node-tournament .tournament-format .line {
  padding: 10px 20px;
  background-color: #999999;
}
.node-tournament .tournament-format .line.light-grey {
  background-color: #bbbbbb;
}
.node-tournament .tournament-rules {
  margin-bottom: 30px;
}
.node-tournament .tournament-rules h3 {
  background-color: orange;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 0px;
}
.node-tournament .tournament-rules .rule {
  padding: 10px 20px;
  background-color: #999999;
}
.node-tournament .tournament-rules .rule.light-grey {
  background-color: #bbbbbb;
}

.node-page .page-image {
  height: 350px;
  background-size: cover;
  background-position: center center;
}
.node-page .page-content {
  margin-top: 30px;
  padding-left: 20px;
  border-left: 1px solid #bbbbbb;
  margin-bottom: 30px;
}

select, input {
  height: 30px;
  background-color: #999999;
  color: #ffffff;
  border: 1px solid #ffffff;
  opacity: 0.5;
}

.stream {
  margin-bottom: 40px;
}
.stream .stream-video {
  padding: 0;
}
.stream .stream-chat-video-list {
  padding: 0;
  border: 1px solid #ffffff;
}
.stream .stream-chat-video-list .stream-tabs .col-md-6 {
  cursor: pointer;
}
.stream .stream-chat-video-list .stream-tabs .col-md-6:first-child {
  padding-right: 0px;
  border-right: 1px solid #000000;
}
.stream .stream-chat-video-list .stream-tabs .col-md-6:last-child {
  padding-left: 0px;
}
.stream .stream-chat-video-list .stream-tabs .stream-tab-chat, .stream .stream-chat-video-list .stream-tabs .stream-tab-video-list {
  color: black;
  width: 100%;
  margin: 0;
  font-size: 18px;
  padding: 0 0 0 10px;
  line-height: 40px;
  background-color: #bbbbbb;
  transition: all 0.2s ease-in;
}
.stream .stream-chat-video-list .stream-tabs .stream-tab-chat.active, .stream .stream-chat-video-list .stream-tabs .stream-tab-video-list.active {
  background-color: #ffffff;
  transition: all 0.2s ease-in;
}
.stream .stream-chat-video-list .stream-chat {
  display: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
}
.stream .stream-chat-video-list .stream-chat #chat {
  overflow-y: auto;
  height: 362px;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  word-wrap: break-word;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line[data-faded] {
  opacity: .8;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice {
  opacity: .7;
  font-weight: 300;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="-4"] {
  color: #765eed;
  font-style: italic;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="-3"] {
  color: #1aa2e6;
  font-style: italic;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="-2"] {
  color: #1ae6a2;
  font-style: italic;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="-1"] {
  color: #5ee61a;
  font-style: italic;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="1"] {
  color: #ffea00;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="2"] {
  color: #ff8000;
  font-weight: 400;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="3"] {
  color: red;
  font-weight: 400;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-level="4"] {
  color: red;
  font-weight: 700;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-notice[data-faded] {
  opacity: .3;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-timedout {
  opacity: .2;
  font-size: .75em;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line.chat-cleared {
  opacity: .2;
  font-size: .33em;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-channel {
  margin-right: .375em;
  opacity: .6;
  font-weight: 300;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-name {
  font-weight: 700;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-colon {
  margin-right: .375em;
  opacity: .85;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line:not(.chat-action) .chat-colon:after {
  content: ':';
}
.stream .stream-chat-video-list .stream-chat #chat .chat-message {
  font-weight: 400;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-line:not(.chat-action) .chat-message {
  color: inherit !important;
}
.stream .stream-chat-video-list .stream-chat #chat .emoticon {
  background-position: center center;
  background-repeat: no-repeat;
  margin: -5px 0;
  display: inline-block;
  vertical-align: middle !important;
  height: 1.5em;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badges {
  margin-right: .125em;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badges > div {
  margin-bottom: 1px;
  border-radius: 2px;
  height: 1em;
  min-width: 1em;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: .3em;
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badge-mod {
  background-color: #33ae0a;
  background-image: url(http://www.twitch.tv/images/xarth/badge_mod.svg);
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badge-turbo {
  background-color: #6441a4;
  background-image: url(http://www.twitch.tv/images/xarth/badge_turbo.svg);
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badge-broadcaster {
  background-color: #e71818;
  background-image: url(http://www.twitch.tv/images/xarth/badge_broadcaster.svg);
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badge-admin {
  background-color: #faaf19;
  background-image: url(http://www.twitch.tv/images/xarth/badge_admin.svg);
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badge-staff {
  background-color: #200f33;
  background-image: url(http://www.twitch.tv/images/xarth/badge_staff.svg);
}
.stream .stream-chat-video-list .stream-chat #chat .chat-badge-bot {
  background-image: url(https://cdn.betterttv.net/tags/bot.png);
}
.stream .stream-chat-video-list .stream-chat #chat [class*="chat-room"] {
  font-size: .5em;
}
.stream .stream-chat-video-list .stream-video-list {
  height: 362px;
}
.stream .stream-chat-video-list .stream-video-list .stream-video-list-item {
  cursor: pointer;
  line-height: 40px;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.stream .stream-chat-video-list .stream-video-list .stream-video-list-item.active {
  background-color: white;
  color: #000000;
  font-weight: bold;
}
.stream .stream-chat-video-list .stream-video-list .stream-video-list-item.active.online .stream-video-list-count {
  background-position: left -15px;
  font-weight: normal;
}
.stream .stream-chat-video-list .stream-video-list .stream-video-list-item.online .stream-video-list-count {
  background: url("../images/eye.png") left 1px no-repeat;
  padding-left: 25px;
  line-height: 15px;
  margin-top: 12px;
}
.stream .stream-chat-video-list .stream-video-list .stream-video-list-item.online .stream-video-list-name:before {
  background-color: #7eff00;
}
.stream .stream-chat-video-list .stream-video-list .stream-video-list-item .stream-video-list-name:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #324520;
  margin-right: 5px;
}

.tournaments-home-cta {
  background: url("../images/cup.png") center center no-repeat;
  background-size: cover;
}
.tournaments-home-cta .text {
  text-align: right;
  padding: 48px 30px 48px 130px;
  font-weight: bold;
  letter-spacing: 1px;
}
.tournaments-home-cta .cta {
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
}
.tournaments-home-cta .cta a {
  font-weight: bold;
  color: #000000;
}

.news-home .new {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 185px;
  margin-bottom: 25px;
  color: #ffffff;
}
.news-home .new .col {
  display: inline-block;
}
.news-home .new .col.first {
  width: 195px;
}
.news-home .new .col.first .tag {
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}
.news-home .new .col.second {
  width: calc(100% - 220px);
  padding: 10px;
  vertical-align: top;
}
.news-home .new .col.second h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  margin-top: 10px;
}
.news-home .new .col.second .teaser {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  height: 80px;
  margin: 0 auto;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.twitter-userline {
  height: 605px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.sponsors-banner {
  padding: 30px;
}
.sponsors-banner .sponsor {
  text-align: center;
  height: 150px;
  width: 150px;
  display: table-cell;
  vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */
