<div class="stream-block">
    <div class="row">
        <div class="col-md-12">
            <h2>LiveStream</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 stream-block-video">
                        Live
                        {{ dump(streams) }}

                    </div>
                    <div class="col-md-3 stream-block-chat">
                        Chat
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>