#block-mainnavigation {
    background-color: #FC7E00;

  ul {
    list-style: none;
    li {
      margin: 0;
      a {
        &:hover, &.is-active {
          background-color: orange;
        }
      }
    }
  }
}

.blue-area {
  background: url('../images/bg-home-blue-area.jpg') center center no-repeat;
  background-size: cover;
  color: $white;
  padding-top: 50px;
  padding-bottom: 50px;
Z}

#block-mainnavigation .navbar-brand {
  background: url(../images/logo.png) center center no-repeat;
  background-size: contain; 
}
