#block-mainnavigation {
  background-color: #FC7E00;
}

#block-mainnavigation ul li a:hover, #block-mainnavigation ul li a.is-active{
  background-color: orange;
}

.blue-area {
  background: url('../images/bg-home-blue-area.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

#block-mainnavigation .navbar-brand {
  background: url(../images/logo.png) center center no-repeat;
  background-size: contain; 
}


