{{ attach_library('gamers_assembly/twitter') }}

<div class="twitter-home">
    <div class="twitter-userline">
        <a class="twitter-timeline"
           data-chrome="noborders transparent noheader nofooter"
           data-theme="dark"
           href="https://twitter.com/gamersassembly">
            Tweets by @gamersassembly
        </a>
    </div>
</div>