<div class="node-animation">
    <div class="grey-area-title">
        {% include directory ~ "/components/title-line/title-line.html.twig" with {
        title:node.getTitle()|t
        } only %}
    </div>
    <div class="white-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="center-block img-responsive" src="{{ file_url(cropped_image) }}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="date">{{ node.field_date.getValue()[0]['value']|date('U')|date("d.m.Y / H:i:s", "Europe/Paris") }} - {{ node.field_date.getValue()[0]['end_value']|date("H:i:s", "Europe/Paris")  }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="animation-content">
                        {{ node.field_animation_content.value | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
