<div class="bs-calltoaction bs-calltoaction-default">
    <div class="row">
        <div class="col-md-2 cta-contents">
            <h1 class="cta-title"><img src="{{ file_url(cropped_image) }}" width="128" height="128"></h1>
            <div class="cta-desc">
                <a href="#" class="btn btn-primary btn-block">Site web</a>
            </div>
        </div>
        <div class="col-md-10 cta-button">
 			{{ node.field_animation_content.value | raw }}
        </div>
     </div>
</div>

