<div class="animation">
    <a href="{{ path('entity.node.canonical', {'node': node.id()}) }}">
        <img class="center-block img-responsive"
             src="{{ file_url(cropped_image) }}"/>
        <h2>

            {{ node.getTitle() }}
        </h2>
    </a>

</div>
