<div>
    <div class="grey-area-title">
        {% include directory ~ "/components/title-line/title-line.html.twig" with {
        title:node.getTitle()|t
        } only %}
    </div>
    <div class="white-area">
        <div class="container">
            {% if (node.field_memory_image.entity.uri.value) %}
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ file_url(cropped_image) }}" class="img-responsive"/>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    {{ node.field_memory_description.value | raw }}
                </div>
            </div>
        </div>
    </div>
</div>



