<div class="container-fluid">
    {{ page.header }}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ page.content }}
            </div>
        </div>
    </div>
    {{ page.footer }}
</div>