{% include directory ~'/components/slideshow/slideshow.html.twig' %}


<div class="grey-area">
    {% include directory ~ '/components/title-line/title-line.html.twig' with {
    title: config.edition_name
    } only %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% include directory ~ '/components/home-block/home-block.html.twig' with {
                title:config.event_title,
                text:config.event_text,
                cta:config.event_cta,
                link:"#"
                } only %}
            </div>
            <div class="col-md-4">
                {% include directory ~ '/components/home-block/home-block.html.twig' with {
                text:config.planning_text,
                cta:config.planning_cta,
                link:'#'
                } only %}
            </div>
            <div class="col-md-4">
                {% include directory ~ '/components/home-block/home-block.html.twig' with {
                text:config.ticket_text,
                cta:config.ticket_cta,
                reverse:true,
                link:'#'
                } only %}
            </div>
        </div>
    </div>
</div>

<div class="blue-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        {% include directory ~ '/components/news-home2/news-home2.html.twig' %}
                    </div>
                    <div class="col-md-4">
                        {% include directory ~ '/components/signup-home/signup-home.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO: Move to footer -->
<div class="white-area">
    {% include directory ~ '/components/title-line/title-line.html.twig' with {
    title:"Sponsors"|t,
    icon:"space-invader black"
    } only %}
    {% include directory ~ '/components/sponsors-banner/sponsors-banner.html.twig' %}
</div>