<div class="medias-page">
    <div class="grey-area-title">
        {% include directory ~ "/components/title-line/title-line.html.twig" with {
        title:"Éditions précédentes"|t
        } only %}
    </div>
    <div class="white-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="info-collapse">
                        <div class="row">
                            <a role="button" data-toggle="collapse" href="#medias-ga2016" aria-expanded="true" aria-controls="info-shcedule-content">
                                <div class="col-md-12">
                                    <div class="col-md-12 info-block-head" style="background-color: #0058A2">
                                        <div class="info-block-padding">
                                            <span class="info-icon"><i class="fa fa-calendar" aria-hidden="true"></i></span> {{ "Gamers Assembly 2016"|t }}
                                        </div>
                                        <div class="info-carret info-block-head">
                                            <div class="info-block-table">
                                                <div class="info-block-cell">
                                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div id="medias-ga2016" class="col-md-12 collapse in" aria-expanded="true">
                                <div class="info-block-body">
                                    <div class="row">
                                        <div class="col-md-9 hack-height border-style">
                                            <div class="info-block-left">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                            </div>
                                        </div>
                                        <div class="col-md-3 hack-height">
                                            <div class="info-block-right">
                                                <div class="flickr-img">
                                                    <a href="#">
                                                        <img src="/themes/custom/gamers_assembly/images/flickr.png" class="img-responsive center-block" />
                                                    </a>
                                                </div>
                                                <a href="#">
                                                    <div class="btn-white cta btn-motion btn-1c">
                                                        Résultats des tournois
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

