<div class="gamers-page">
    <div class="grey-area-title">
        {% include directory ~ "/components/title-line/title-line.html.twig" with {
        title:"Gamers"|t
        } only %}
    </div>
    <div class="white-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    //TODO CREATE GAMERS INFO PAGE (themes/custom/gamers_assembly/templates/layout/ga-gamers.html.twig)
                </div>
            </div>
        </div>
    </div>
</div>

