<div class="ticket-page">
    <div class="grey-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="headline">{{ config.title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="white-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- CUSTOM CONTENT -->
                </div>
            </div>
        </div>
    </div>
</div>

