<div class="planning-page">
    <div class="grey-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="headline">{{ config.title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="white-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    //TODO CREATE PLANNING INFO PAGE (themes/custom/gamers_assembly/templates/layout/ga-planning.html.twig)
                </div>
            </div>
        </div>
    </div>
</div>

