<div class="sponsor-page">
    <div class="grey-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="headline">{{ config.title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="white-area">
        {% include directory ~ '/components/title-line/title-line.html.twig' with {
        title:"Partenaire principal"|t,
        } only %}
        <div class="container sponsor-container">
            <div class="row">
                <div class="col-md-2 col-md-offset-5">
                    <a href="http://www.ville-saint-benoit.fr" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/52-ville-de-saint-benot.jpg" />
                    </a>
                </div>
            </div>
        </div>
        {% include directory ~ '/components/title-line/title-line.html.twig' with {
        title:"Partenaire techniques"|t,
        } only %}
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="http://www.grand-poitiers-networks.com/" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/96-covage.jpg" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.grand-poitiers-networks.com/" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/96-covage.jpg" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.grand-poitiers-networks.com/" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/96-covage.jpg" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.grand-poitiers-networks.com/" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/96-covage.jpg" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.grand-poitiers-networks.com/" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/96-covage.jpg" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.grand-poitiers-networks.com/" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/96-covage.jpg" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.grand-poitiers-networks.com/" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/96-covage.jpg" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.grand-poitiers-networks.com/" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/96-covage.jpg" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.grand-poitiers-networks.com/" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/96-covage.jpg" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.grand-poitiers-networks.com/" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/96-covage.jpg" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.grand-poitiers-networks.com/" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/96-covage.jpg" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.grand-poitiers-networks.com/" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/96-covage.jpg" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.grand-poitiers-networks.com/" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/96-covage.jpg" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.grand-poitiers-networks.com/" target="_blank" class="logo-sponsor animated bounceInDown">
                        <img class="img-responsive" src="http://www.gamers-assembly.net/uploads/partenaires/100/96-covage.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>