<div class="sponsor-page">
    <div class="white-area">
        {% for sponsorList in sponsors %}
            {% include directory ~ '/components/title-line/title-line.html.twig' with {
            title:sponsorList.title,
            } only %}
            <div class="container sponsor-container">
                <div class="row">
                    {% for sponsor in sponsorList.sponsors %}
                        <div class="col-md-2{% if (loop.first) %} col-md-offset-5{% endif %}">
                            <a href="{{ sponsor.url }}" target="_blank"
                               class="logo-sponsor animated bounceInDown">
                                <img class="img-responsive"
                                     src="{{ file_url(sponsor.image) }}"/>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>