<div class="sponsor-page">
    <div class="grey-area-title">
        {% include directory ~ "/components/title-line/title-line.html.twig" with {
        title:config.title
        } only %}
    </div>
    <div class="white-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% for key in activities|keys %}
                        <button class="filter" x-data="{{ loop.index0 }}">{{ key }}</button>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% include directory ~ '/components/schedule/schedule.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
