<div class="ticket-page">
    <div class="grey-area-title">
        {% include directory ~ "/components/title-line/title-line.html.twig" with {
        title:"Ticketing"|t
        } only %}
    </div>
    <div class="white-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row info-header">
                        <h3>Information pour les mineurs</h3>
                        <p>Vous devez télécharger l'autorisation parentale, l'imprimer, la remplir et l'apporter le jour de votre venue avec votre billet.<br><br>
                        <a class="col-md-4 col-md-offset-4 btn btn-primary" href="/sites/ga/files/pdf/autorisation_parentale.pdf">Télécharger l'autorisation parentale (format pdf)</a>
                        </p>
                    </div>
                    {{ config.weezevent_code|raw }}
                </div>
            </div>
        </div>
    </div>
</div>

