<div class="ticket-page">
    <div class="grey-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="headline">{{ config.title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="white-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    //TODO CREATE TICKET PAGE (themes/custom/gamers_assembly/templates/layout/ga-ticket.html.twig)
                    <iframe width="100%" height="500px" src="{{ config.iframe_url }}"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

