<div class="container-fluid">
    <div class="row title-line">
        <div class="col-md-12 decorated">
            <h2 class="">
                <span>
                    {{ title }} {% if(icon) %}<span class="space-invader"></span>{% endif %}
                </span>
            </h2>
        </div>
    </div>
</div>